@import 'typefaces';
@import 'colors';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  color: $text-color;
  margin: 0;
  background-color: $background-1;
}

h1 {
  font-family: $font-family;
  font-size: 2.5rem;
  color: $text-color;
  line-height: 65px;
  font-weight: 300;
}

h2 {
  font-family: $font-family;
  font-size: 2rem;
  // letter-spacing: 0.4px;
  line-height: 130%;
  color: $text-color;
  font-weight: 300;
}

h3 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.2rem;
  color: $text-color;
  margin-top: 3rem;
}

p {
  font-family: $font-family;
  color: $text-color;
  font-weight: 400;
  font-size: 0.9rem;
  max-width: 50em;

  code {
      background-color: white;
      border: 1px solid $background-1;
      padding-top: 1px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;
      color: $text-color;
      font-size: 1rem;
  }
}

ul {
  font-family: $font-family;
  color: $text-color;
  font-weight: 400;
  font-size: 0.9rem;
  max-width: 50em;

  code {
      background-color: white;
      border: 1px solid $background-1;
      padding-top: 1px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;
      color: $text-color;
      font-size: 1rem;
  }
}

.button {
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin: 0;
    box-shadow: none;
    line-height: 90px;
    cursor: pointer;
    background-color: $text-color;
    color: white;
    flex-basis: auto;
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    font-family: $font-family;
    font-size: 0.9rem;
    font-weight: 400;
    transition: 0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    min-width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1rem;

    &:hover {
      background-color: $black-1;
      text-decoration: none;
    }
  }


a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: $text-color;
  padding: 1rem;
  overflow-x: auto;
  max-width: 60em;

  code {
      color: white;
  }
}


.page-container {
  display: grid;
  grid-template-columns: 290px 20% 20% 20% 1fr 1fr;
  // grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-rows: repeat(auto-fill, 250px);
  grid-auto-flow: row;

.nav {
  // grid-column: 1 / 2;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  // grid-row: 1 / 3;
  background-color: $black-1;
  padding: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  hr {
    border-color: $keyline-color;
    // margin-top: 2rem;
    margin-left: -2rem;
    margin-right: -1rem;
  }

  p {
    color: white;
    padding-bottom: 1rem;
  }

  ul {
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin: 0;
    font-size: 0.9rem;
    li {
      list-style: none;
      // border-bottom: 1px solid $grey-1;
      padding-bottom: 1rem;
      a {
        text-decoration: none;
        color: white;
        // transition: 0.4s;
        pointer: cursor;
        padding-left: 2px;

        &:hover {
          font-weight: 700;
          border-left: 2px solid $first-highlight;
          padding-left: 2rem;
          margin-left: -2rem;
        }
      }

      }
  }
}

.page-bar {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  // grid-row-end: 7;
  background-color: $first-highlight;
  width: 70px;
  z-index: 100;
  box-shadow: 0 0 47px 0 rgba(0,0,0,0.30);

}

.page-content {
  // grid-column: 2 / 7;
  // grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  background-color: white;
  // padding: 3rem;
  padding-top: 1rem;

  ul {
    margin-left: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;

    li {
      padding-bottom: 1rem;

      ul {

      }
    }
  }

  &.post {
    padding: 3rem;
    margin-bottom: 5rem;

    hr {
      margin-top: 3rem;
      max-width: 3rem;
      text-align: left;
      margin-left: 0;
      border: 3px solid $second-highlight;
    }
  }

  &.index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    z-index: 1;

    .button {
      margin-top: 1rem;
    }

    .left-panel {
      flex-basis: 500px;
      flex-shrink: 1;
      flex-grow: 2;
      padding-left: 3rem;
      padding-right: 3rem;
      // background-color: red;
    }
    .right-panel {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 250px;
      padding-right: 3rem;
      padding-left: 3rem;
      padding-top: 2rem;
      box-sizing: border-box;
      // background-color: blue;
    }
  }
}

.page-callout {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: $first-highlight;
  box-shadow: 0 0 47px 0 rgba(0,0,0,0.30);
  padding: 2rem;
  // margin-bottom: 2rem;
  padding-bottom: 5rem;
  height: 400px;
  z-index: 10;

  h2 {
    color: white;
    margin-top: 0;
  }

  p {
    color: white;
  }

  a {
    color: white;
    border-bottom: 1px solid white;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.page-footer {
  background-color: blue;
}

.page-image {
  // background-color: blue;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-size: cover;
  z-index: -10;
  img {
    width: 100%;
  }
}

.page-next {
  background-color: white;
  grid-row-start: 7;
  grid-row-end: 8;
  height: 300px;
  margin-top: 2px;
  padding: 2rem;
  // margin-bottom: 2rem;
  margin-right: 2px;

  &.prepare {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.script {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &.interact {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    margin-bottom: 4rem;
  }

  h2 {
    margin-top: 0;
  }
}

}

// Media Queries


@media only screen and (max-width: 1280px) {

  .page-container {
    display: grid;
    grid-template-columns: 290px 20% 20% 20% 1fr;
  }

}

@media only screen and (max-width: 1024px) {

  .page-container {
    grid-template-columns: 320px 320px 320px 1fr;
    grid-auto-flow: column;

    .page-content {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;

      &.post {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-bottom: 0;

      }

    }

    .page-callout {
      grid-column-start: 3;
      grid-column-end: 4;
      // grid-row-start: 7;
      // grid-row-end: 8;
    }

    .page-image {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .page-next {
      grid-column-start: 1;
      grid-column-end: 2;

      &.prepare {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
      }

      &.script {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
      }

      &.interact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    }

  }

  }

@media only screen and (max-width: 768px) {

  .page-container {
    grid-template-columns: 320px 320px 1fr;
    grid-auto-flow: column;

    .page-content {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .page-callout {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    .page-image {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .page-next {
      grid-column-start: 1;
      grid-column-end: 2;

      &.prepare {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
      }

      &.script {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
      }

      &.interact {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    }

  }

  }

@media only screen and (max-width: 375px) {
  .page-container {
    grid-template-columns: 320px;
    grid-auto-flow: column;

    .page-content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;

      &.post {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
      }
    }

    .page-bar {
      display: none;
    }

    .page-callout {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    .page-image {
      display: none;
    }

    .page-next {
      grid-column-start: 1;
      grid-column-end: 2;

      &.prepare {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
      }

      &.script {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
      }

      &.interact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
      }
    }
  }
  }
