---
layout: indexbase
title: Overview
---

<div class="page-container">

{% include header.html %}

<div class="page-image">
  <img src="assets/AltGitHubImage.jpg">
</div>

<div class="page-content index">
  <div class="left-panel">
    <h2>Develop in a cloud sandbox<br>IBM Blockchain Platform</h2>
    <p>Follow these instructions to launch a basic IBM Blockchain network on the IBM Container Service's free plan.

    Most users will want to follow the <b>Prepare & Setup</b> instructions, to prepare a cluster on the IBM Container Service ready for IBM Blockchain to deploy to, and then the <b>Simple Install</b> instructions to deploy the default Developer Environment in a single script.</p>
    <h3>What do I get?</h3>
    <p>The <b>Simple Install</b> will bring up the following components:

    <ul>
      <li>A pre-configured Fabric (blockchain runtime):</li>
        <ul>3 Fabric CAs (one apiece for the orderer org and two peer orgs)</ul>
        <ul>Orderer node (running "solo")</ul>
        <ul>2 Fabric peer nodes (one apiece for each peer org - <code>org1</code> & <code>org2</code>)</ul>
        <ul>Some example installed and instantiated chaincode</ul>
      <li>Composer Playground (UI for creating and deploying Business Networks to Fabric)</li>
      <li>The basic-sample-network deployed</li>
    </ul>
    <p>
    It also creates services to expose the components.

    At the end of the install, you will be able to obtain a public URL to access your instance of Composer Playground. Next, see the <b>Interacting with your Blockchain</b> topic.  This will teach you how to develop Business Networks, and how to expose your deployed network as a REST API for further application development.</p>
    <h3>Ready to get started?</h3>
    <p>The first step is to run through the <b>Prepare & Setup</b> instructions:</p>
      <a href="/setup" class="button">Get started</a>
  </div>

  <div class="right-panel">
    <img src="assets/Warning 24.svg">
    <p> <b>Warning</b> these instructions will stand up a publicly accessible development environment for IBM Blockchain.  We recommend you only use it for experimentation, and it is <b>not suitable and not supported</b> for any sort of production deployment.  If that's what you need, you should instead take a look at the <a href="https://console.bluemix.net/catalog/services/blockchain">IBM Blockchain Platform Service on IBM Cloud</a>, which provides a fully managed Fabric runtime (you could also install the local Dev Tools to build your business networks, then push them to the managed service in a secure way).</p>
    <h3>Can I run this locally?</h3>
    <p>You <i>could</i> choose to run these images locally with Minikube.  However, if you're looking for a local Blockchain development environment, we recommend the Local Dev Environment install offered on the <a href="https://hyperledger.github.io/composer/installing/installing-index.html">Hyperledger Composer website</a>: this uses Docker and Docker Compose to run Fabric and Composer on your local machine, and comes with other useful tools like a VSCode extension and CLI tools to deploy the Business Networks you create elsewhere (e.g. Fabric running on IBM Cloud) later on.</p>
  </div>
</div>

<div class="next-page">
  <div class="PageNavigation">
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>
</div>

<div class="page-callout">
  <h2>Join an established developer community</h2>
  <p>IBM Blockchain leverages projects from Hyperledger: Fabric and Composer.</p>
  <p>Join other Blockchain Developers on StackOverflow, GitHub and Rocket.Chat, and benefit from a wealth of existing resources.</p>
  <a href="https://www.hyperledger.org/community">Join the Hyperledger Blockchain community</a>
</div>

<div class="page-next prepare">
  <h2>1. Prepare & Setup</h2>
  <p>Get the prerequisites and setup your Container Service ready to deploy IBM Blockchain.</p>
  <p><b>15 minutes</b></p>
  <a href="/setup" class="button">Get setup</a>
</div>

<div class="page-next script">
  <h2>2. One Script Install</h2>
  <p>Run our setup script to get everything you need for IBM Blockchain cloud development in a single step.</p>
  <p><b>5 minutes</b></p>
  <a href="/simple" class="button">Install guide</a>
</div>

<div class="page-next interact">
  <h2>3. Interact with your Blockchain</h2>
  <p>Installed IBM Blockchain? Learn how to develop Business Networks and expose them as a REST API.</p>
  <!-- <p><b>30 minutes</b></p> -->
  <a href="/interacting" class="button">Learn more</a>
</div>

<div class="page-next production">
  <h2>IBM Blockchain Production Deployment</h2>
  <p>Deploy the networks you devlop to the IBM Blockchain Platform Enterprise Plan.</p>
  <a href="/platform-deployment" class="button">Learn how</a>
</div>

</div>
