<div class="nav">
        <a class="top-link" href="/">IBM <b>Blockchain</b></a>
        <hr>
      <ul>
        <li><a href="/">Overview</a></li>
        {% for page in site.pages %}
        {% if page.category == "tutorial" | sort:"order" %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      <hr>
      <ul>
        <li><a href="">Paid Cluster</a></li>
        {% for page in site.pages %} {% if page.category == "paid" | sort:"order" %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %} {% endfor %}
      </ul>
      <hr>
      <ul>
        {% for page in site.pages %}
        {% if page.category == "hsbn" | sort:"order" %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      <hr>
    <ul>
      {% for page in site.pages %}
      {% if page.category == "advanced" | sort: "order" %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>


</div>
